/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --open-sans-font: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    --oswald-font: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
    --color-primary: #09cc7f;
    --color-primary-dark: #28a745;
    --color-secondary: #1c165c;
    --color-secondary-light: #8D99AE;
    --color-snow-white: #FBF5F3;
    --color-ivory-white: #F6F7EB;
    --color-anti-flash-white: #EDF2EF;
    --color-heavy-white: #EDF2F4;
    --color-black-night: #0F110C;
    --color-black-main: #222;
    --color-black-light: #333;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
    font-family: var(--open-sans-font);
    color: var(--color-black-main);
    position: relative;
}

/* utilities styings */
.success, .danger, .flash_guidance{
    width: max-content;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 100px;
    font-weight: bold;
}

.success{
    background-color: lightgreen;
    color: var(--color-ivory-white);
}

.flash_guidance{
    background-color: orange;
    color: var(--color-ivory-white);
}

.danger{
    background-color: red;
    color: var(--color-ivory-white);
}

.form-error{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.btn{
    padding: 2rem 3rem;
    text-decoration: none;
    background-color: var(--color-primary-dark);
    color: var(--color-anti-flash-white);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

.title-box{
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.title-box__titlesub{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-primary-dark);
}

.title-box__titlemain{
    font-size: 4rem;
    color: var(--color-secondary);
    text-transform: capitalize;
    text-align: center;
}

.form-text-area{
    padding: 2rem;
    font-family: var(--open-sans-font);
    font-weight: 600;
    line-height: 1.6;
    border: none;
    outline: none;
    box-shadow: 0 0 2px #ccc;
    border: 2px solid var(--color-primary-dark);
    min-width: 90%;
    min-height: 30rem;
    font-size: 1.6rem;
}

.form-submit{
    border: none;
    outline: none;
    padding: 2rem 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--color-primary-dark);
    border-radius: 5px;
    color: var(--color-heavy-white);
}

.page-section-title{
    text-transform: capitalize;
    text-align: center;
    margin: 2rem auto;
    color: var(--color-secondary);
    font-size: 3rem;
}

.success-submission-text{
    font-size: 3rem;
    margin: 4rem auto;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primary-dark);
    width: 90%;
}

.form-submission__image{
    --size: 50rem;
    width: var(--size);
    display: block;
    margin: 4rem auto;
}
/* End of utilities stylings */

/* header stylings */
.logo{
    font-family: var(--oswald-font);
    font-size: 5rem;
}

.logo span{
    color: var(--color-primary-dark);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 2px #ccc;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100000000000000;
}

.header__nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav-list--item a{
    display: inline-block;
    padding: 2rem 2.5rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--color-primary-dark);
}

.header__cta{
    padding: 2rem 3rem;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color-primary-dark);
    color: var(--color-anti-flash-white);
    text-transform: uppercase;
    border-radius: 5px;
}
/* end of header stylings */

/* The home section stylings */
.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}

.home__textbox{
    width: 60%;
    margin-right: 2rem;
}

.home__textbox--title{
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--color-secondary);
}

.home__textbox--description{
    margin: 4rem 0;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.7;
    color: var(--color-black-light);
    font-weight: 500;
}
/* End of the home section stylings */

/* what we help with section */
.boxes-container{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-items: center;
}

.what-box{
    --size: 40rem;
    width: var(--size);
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #333;
    padding: 1rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
}

.what-box::after{
    content: "";
    width: 100%;
    height: 0;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.what-box >*{
    transition: all .5s ease;
}

.what-box:hover::after{
    height: 100%;
}

.what-box:hover>*{
    color: var(--color-heavy-white);
}

.what-box__image img{
    --size: 25rem;
    width: var(--size);
    height: var(--size);
}

.what-box__title{
    font-size: 3rem;
    margin: 1rem 0;
    text-transform: capitalize;
    color: var(--color-secondary);
    /* font-family: var(--oswald-font); */
    font-weight: 700;
}

.what-box__description{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
    color: var(--color-black-light);
    font-weight: 500;
    margin-bottom: 2rem;
}

.what-box__cta{
    display: block;
    width: 90%;
    text-align: center;
}
/* end of what we help with section stylings */

/* volunteer section stylings */
.volunteer-section{
    margin-top: 4rem;
}

.volunteer-section__textbox{
    width: 80%;
    margin: 3rem auto;
}

figure{
    margin: 5rem 0;
}

figcaption{
    text-align: center;
    font-size: 1.8rem;
    font-style: oblique;
    color: var(--color-secondary);
    font-weight: 800;
}

.volunteer-section__textbox--img{
    --size: 40rem;
    display: block;
    width: var(--size);
    margin: 3rem auto;
}

.volunteer-section__textbox--text{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8;
    color: var(--color-black-light);
    font-weight: 600;
}

.volunteer-section__textbox--btn{
    display: block;
    width: max-content;
    margin: 3rem auto;
}
/* end of volunteer section stylings */

/* upcoming events section */
.upcoming-events{
    margin-top: 10rem;
}

.upcoming-event{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
}

.upcoming-event__image-container{
    --size: 20rem;
    width: var(--size);
    height: var(--size);
    margin-right: 5rem;
}

.upcoming-event__image-container img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.upcoming-event__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upcoming-event__about--title{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    color: var(--color-secondary);
}

.upcoming-event__detail{
    display: flex;
    align-items: center;
    margin-right: 4rem;
    color: #777;
    font-weight: 700;
}

.upcoming-event__detail--icon{
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    fill: currentColor;
    margin-right: 1rem;
}
/* end of upcoming events section styling */

/* footer stylings */
.footer{
    padding: 2rem;
    background-color: var(--color-ivory-white);
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.footer_u-marg-right{
    margin-right: 2rem;
}

.footer__content-box{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.footer__content-box svg{
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    margin-right: 2rem;
    fill: var(--color-primary);
}

.footer__content-box--text{
    font-weight: bold;
}
/* end of footer stylings */

/* talk to us section */

.talk-to-us-section{
    position: relative;
}

.talk-section__container{
    display: flex;
    padding: 2rem;
    position: relative;
}

.talk-section__container--guide{
    width: 30%;
    margin-right: auto;
    position: sticky;
    top: 0;
    left: 0;
}

.guide-text{
    text-align: justify;
    line-height: 1.6;
    margin-top: 1.5rem;
    font-weight: 600;
}

.guide-text strong{
    text-decoration: underline;
    background-color: var(--color-primary);
}

.talk-section__container--form{
    width: 65%;
}

.talk-form_group{
    margin-bottom: 2rem;
}

.talk-form_group--label{
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    color: var(--color-primary-dark);
}

.talk-form_group--input{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 60%;
}

.talk-form_group--input::placeholder{
    font-weight: normal;
    text-transform: capitalize;
    font-style: italic;
    color: var(--color-secondary);
}
/* end of talk to us section */

/* submissions section stylings */
.submission-box{
    width: 60%;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 0 0 3px #333;
    border-radius: 5px;
    overflow: hidden;
}

.submission-box__header{
    display: flex;
    margin-bottom: 1rem;
}

.submission-avartar{
    --size: 10rem;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-heavy-white);
    margin-right: 3rem;
    text-transform: uppercase;
}

.submission__user--name{
    font-size: 3rem;
    color: var(--color-primary-dark);
    text-transform: capitalize;
}

.submission__user--name span{
    font-size: 2rem;
    color: var(--color-secondary);
}

.submission__user--contacts{
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.sub-u-border-right{
    border-right: 2px solid #ccc;
}

.submission__user--contact-box{
    padding: .5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.submission__user--contact-box svg{
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    fill: var(--color-black-light);
    margin-right: 1rem;
}

.submission__text{
    font-weight: bold;
    line-height: 1.7;
    text-align: justify;
}

.submission__footer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.submission__date{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-right: 2rem;
}

.submission__date span{
    color: var(--color-secondary);
}

.submission__action{
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-snow-white);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
}

.submission__action--danger{
    background-color: crimson;
    margin-left: 2rem;
}

.login-section{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.login-form-group__label{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.login-form-group__input{
    padding: 2rem 2.5rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.login-form{
    width: 40%;
}
/* End of submissions section stylings */

/* team members section */
.team-section{
    padding: 3rem 2rem;
}

.team-section__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    justify-items: center;
    margin-top: 3rem;
}

.team__member{
    --size: 35rem;
    width: var(--size);
    box-shadow: 0 0 2px #444;
    padding: 1rem;
    margin-bottom: 3rem;
}

.team__member__image-container{
    height: 40rem;
    margin-bottom: 3rem;
}

.team__member__image-container img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.team__member--title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.team__member__detail{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.team__member__detail svg{
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    fill: var(--color-black-light);
    margin-right: 1.5rem;
}
/* end of the team members section stylings */

/* volunteer section */
.volunteer_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* end of the volunteer section */

/* Volunteer section */
.volunteer{
    width: 60%;
    margin: 3rem auto;
}

.volunteer__name{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.volunteer__email{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.volunteer__what-they-will-do{
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.6;
}

.volunteer-control-btn{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    color: var(--color-heavy-white);
    margin-top: 1rem;
    border-radius: 10px;
    font-weight: bold;
}

.volunteer-control-btn-accept{
    background-color: var(--color-primary-dark);
}

.volunteer-control-btn-reject{
    background-color: crimson;
}
/* End of the volunteer section */