<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/blob.png') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>PeerPulse &mdash; you are not alone, we are here to help</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header class="header">
        <h1 class="logo"><span>P</span>eer<span>P</span>ulse<span>.</span></h1>
        <nav class="header__nav">
            <ol class="header__nav-list">
                <li class="header__nav-list--item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="header__nav-list--item"><a href="">How we help</a></li>
                <li class="header__nav-list--item"><a href="">lend a hand</a></li>
                <li class="header__nav-list--item"><a href="">upcoming events</a></li>
                <li class="header__nav-list--item"><a href="">team</a></li>
                <li class="header__nav-list--item"><a href="">admin login</a></li>
                <a class="header__cta" href="{{ url_for('talk_to_us') }}">speak out</a>
            </ol>
        </nav>
    </header>
    {% block pagecontent %} {% endblock pagecontent%}
</body>
</html>